.bar_wrapper{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    gap: 3px;
    transform: rotate(45deg);
}
.bar_bar{
    width: 100%;
    height: .4rem;
    background-color: #fff;
}