*{
    margin: 0;
    padding: 0;
    font-family: 'poppins'

}
@tailwind base;
@tailwind components;
@tailwind utilities;

.group{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}
.group:hover{
    transform: scale(1.1);
}