.topwindow{
    width: 90%;
    height: 500px;
   background: linear-gradient(to right, #48317A, #2D1554) ;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topwindow > img{
    height: 90%;
    width: 70%;
    margin-left: 20px;
    border-radius: 10px;
}
.list{
    color: aliceblue;
    width: 30%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;
}

.botao {
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    background-color: #42317C;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .botao:hover {
   
    background-color: hsl(261deg 80% 48%);
    color: #2D1554;
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .botao:active {
  
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    
  }


.bottomwindow{
    width: 70%;
    height: 600px;
    margin: 5%;
    background: linear-gradient(to right, #6549A1, #33245F) ;
    border-radius: 10px;
    box-shadow: 12px 30px 55px -16px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: aliceblue;
    padding-bottom: 5%;
    position: relative;
}
.topo{
  height: 20%;
  width: 100%;
  border-radius: 10px;
  top: 0;
  align-items: center;
  justify-content: start;
  display: flex;
  padding-left: 10%;
}
.esquerda{
  height: 80%;
  width: 50%;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  display: grid;
  padding-left: 2%;


}
.direita{
  height: 80%;
  width: 50%;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  display: grid;
  
}